@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

.xen-select-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
}

.xen-searchable {
    display: none;
}

.xen-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

.xen-search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.xen-options {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.xen-options::-webkit-scrollbar {
    display: none;
}

.xen-select-suffix-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    padding: 0 10px;
    background-color: white;
}

.xen-option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s;
}

.xen-option:hover {
    background-color: #f0f0f0;
}

.xen-option[data-selected="true"] {
    background-color: #007bff;
    color: white;
}

.xen-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.xen-input-prefix {
    padding: 9px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    white-space: nowrap;
}

.xen-input-suffix {
    padding: 9px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    white-space: nowrap;
}

.xen-input-wrapper input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.xen-input-wrapper input:focus {
    box-shadow: none;
}